@using StarshipFailing.Models;
@model Description
<style>
    .description{
        text-align:center;
        margin:30px auto;
    }
</style>
<div class="row">
    <div class="col-md-4 description">
        @Model.roomDescription
    </div>
</div>
